[elasticsearch-{{ __elasticsearch_version }}]
name=Elasticsearch repository for {{ __elasticsearch_url_version }} packages
baseurl=http://packages.elastic.co/elasticsearch/{{ __elasticsearch_version }}/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
