[elasticsearch-{{ elasticsearch_repo_version }}]
name=Elasticsearch repository for {{ elasticsearch_name_version }} packages
baseurl=http://packages.elastic.co/elasticsearch/{{ elasticsearch_repo_version }}/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
