# {{ ansible_managed }}
# ======================== Elasticsearch Configuration =========================

{% if elasticsearch_config is defined %}
{{ elasticsearch_config | to_nice_yaml }}

{% if elasticsearch_config['cluster.name'] is not defined %}
cluster.name: "elasticsearch"
{% endif %}

{% if elasticsearch_config['node.name'] is not defined %}
node.name: "{{inventory_hostname}}-{{es_instance_name}}"
{% endif %}

{% if elasticsearch_config['network.host'] is not defined %}
node.name: "{{ elasticsearch_network_host }}"
{% endif %}

{% if elasticsearch_config['http.port'] is not defined %}
http.port: {{ elasticsearch_http_port }}
{% endif %}

{% if elasticsearch_config['script.indexed'] is not defined %}
script.indexed: {{ elasticsearch_script_indexed }}
{% endif %}

{% if elasticsearch_config['script.inline'] is not defined %}
script.inline: {{ elasticsearch_script_inline }}
{% endif %}

{% endif %}